{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href='{% static "admin_panel/assets/images/ludo_favcn.png" %}'
    />

    <title>{% block title %} {% endblock title %}</title>
    <!-- Custom CSS -->
    <link
      href='{% static "admin_panel/dist/css/style.min.css" %}'
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "admin_panel/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" %}'
    />
    <link
      rel="stylesheet"
      type="text/css"
      href='{% static "admin_panel/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css" %}'
    />
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href='{% static "admin_panel/styles/modal.css"%}'>
<link href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap4.min.css" />

    {% block styles %}
      
    {% endblock styles %}
    <style>
      .left-sidebar{
         background-color: rgb(15, 23, 36) !important;
      }
      .hvr{
        border-bottom: 1.2px solid orange;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5rem;
      }
      .hvr:hover{
        background-color: rgb(37, 50, 70) !important ;
      }
      .sucbrdr{
        background-color: rgb(15, 23, 36)  !important;
         color: white;
      }
      .tw{
        color: white
              
      }
      .tw:hover{
        color: darkorange !important;
      }
      .modal1{
        background: rgba(0,0,0,0.8)
    }
    .animate{
        border-radius: 30px !important;
       /* background: rgba(0,0,0,0.7); */
    }
     
  </style>
    
    {% block head_script %}
      
    {% endblock head_script %}

  </head>
  <?php // header("Access-Control-Allow-Origin: *"); ?>


  <body class="skin-default fixed-layout">
  <!-- <div class="preloader">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Teen Patti Premium</p>
    </div>
  </div> -->
  <div id="main-wrapper">
    {% include 'admin_panel/header.html' %} 
    {% include  'admin_panel/left-sidebar.html' %}
    <div class="page-wrapper">
      <div class="container-fluid">


        {% block beforescript %} 
        
        {% endblock beforescript %}
        
        
        {% include 'admin_panel/right-sidebar.html' %}
      </div>
    </div>
    {% include 'admin_panel/footer.html' %}
    <!-- <?php
        
    include 'sessionmanage.php';
    ?> -->
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src='{% static "admin_panel/assets/node_modules/jquery/jquery-3.2.1.min.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" integrity="sha512-T3VL1q6jMUIzGLRB9z86oJg9PgF7A55eC2XkB93zyWSqQw3Ju+6IEJZYBfT7E9wOHM7HCMCOZSpcssxnUn6AeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src='{% static "admin_panel/assets/node_modules/bootstrap/dist/js/bootstrap.min.js" %}'></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src='{% static "admin_panel/dist/js/perfect-scrollbar.jquery.min.js" %}'></script>
  <!--Wave Effects -->
  <script src='{% static "admin_panel/dist/js/waves.js" %}'></script>
  <!--Menu sidebar -->
  <script src='{% static "admin_panel/dist/js/sidebarmenu.js" %}'></script>
  <!--stickey kit -->
  <script src='{% static "admin_panel/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js" %}'></script>
  <script src='{% static "admin_panel/assets/node_modules/sparkline/jquery.sparkline.min.js" %}'></script>
  <!--Custom JavaScript -->
  <script src='{% static "admin_panel/dist/js/custom.min.js" %}'></script>

  <!-- This is data table -->
  <script src='{% static "admin_panel/assets/node_modules/datatables.net/js/jquery.dataTables.min.js" %}'></script>
  <script src='{% static "admin_panel/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js" %}'></script>
  <!-- start - This is for export functionality only -->
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
  <!-- end - This is for export functionality only -->

  <!-- =========================================================================-->
  <!--- Script For the Get Data From Json -->
  <!-- =========================================================================-->
  <script src='{% static "admin_panel/CustomFiles/config.js" %}'></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

  
  {% block script %} 
  {% endblock script %}
  <script>
    
  </script>
  <script>
   /* setInterval(
       function(){
           $.ajax({
               url:'{% url "regenerate" %}',
               
               success: function(data){
                   console.log(data);
                   
               }

            })
       } ,1000*60*10) */
</script>
   </body>
</html>
