{% extends 'admin_panel/base.html' %}
{% load static %}


{% block title %}
    Commission
{% endblock title %}
    
{% block styles %}
<style>
    .golden {
        color: rgb(255, 97, 5);
        font-weight: 500;
    }
</style>
{% endblock styles %}

{% block beforescript %}
    

        <!-- Bread crumb and right sidebar toggle -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Commission</h4>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Commission</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <button onclick="ExportToExcel('xlsx')" class="btn btn-secondary"><span><i
                            class="fa fa-file-csv mx-2"></i></span>Export to Sheet</button>
                        <!-- <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label"> User Name </label>
                                    <input type="text" id="usenrname" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp; </label>
                                    <button type="button" id="filter" class="btn d-none d-lg-block m-l-15" style="background-color:#FE9900"> Search </button>
                                </div>
                            </div>
                        </div> -->
                        <div class="table-responsive m-t-40 overflow-auto">
                            <table id="commissiontable" class="table table-responsive-md table-hover text-center" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Id </th>

                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Name </th>

                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Lobby Total Amount </th>
                                                                                                                                    
                                        <th class="srt sorting_desc" id="NameAdmin" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Buy In </th>

                                        <th class="srt sorting_desc" id="NameAdmin1" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Commission Count </th>
                                        
                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Lobby Owner </th>    
                                        
                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Variation Name </th>
                                        
                                        <!-- <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Commission_Time_Date </th>
                                        
                                        <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Is_Paid </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for comn in cmns_data %}
                                        <tr>
                                            <td>{{comn.Lobby_Id}}</td>
                                            <td>{{comn.Lobby_Name}}</td>
                                            <td>{{comn.Lobby_Total_Amount}}</td>
                                            <td>{{comn.Lobby_Buy_In}}</td>
                                            <td>{{comn.Lobby_Commision_Amount}}</td>
                                            <td>{{comn.Lobby_Owner}}</td>
                                            <td>{{comn.Variation_Name}}</td>
                                        </tr>
                                    {% endfor %}
                                        
                                </tbody>
                            </table>
                            <div class="text-left" style="width: 100%;">
                                <div class="mt-5 mx-4 text-center" style="width: 15%;">
                                    <h2 class="golden">Totals</h2>
                                </div>
                                <table id="totals" class="table float-left text-left mx-4" style="width: 15%;">
                                    
                                    {% for element in totals %}
        
                                        {% for key, value in element.items %}
                                            <tr>
                                                <th><b>{{key}}</b></th>
                                                <td>{{value}}</td>
                                                
        
                                            </tr>
                                        {% endfor %}
        
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
{% endblock beforescript %}
    

{% block script %}
    <script>
        $(document).ready(function(){
            $("#commissiontable").DataTable()
        })
    </script>

{% comment %} <script>
    var jsondata;
    var webapi = api["api"];
    var jsonObjects = {
          "admin_id": id,
          "admin_role": role
    }
   
    var dataa1 = JSON.stringify(jsonObjects);
    /* ============ DataTable =============== */
    $.ajax({
        url: webapi + "commisions",
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        dataType: "json",
        crossDomain: true,
            headers: {
                "Authorization": "Bearer " + token
            }, 
        data: dataa1,
        success: function(result) {	
                if(role != "Admin")
                {
                    $("#NameAdmin").hide();
                    $("#NameAdmin1").hide();
                    jsoondata = [{
                            data: "Lobby_Commision_Id"
                        },
                        {
                            data: "Lobby_Name"
                        },
                        {
                            data: "Lobby_Round"
                        },
                        {
                            data: "Bookie_Commision_Amount"
                        },
                        {
                            data: "Total_Bet"
                        },
                        {
                            data: "Commission_Time_Date"
                        },                                  
                        {
                        data: null,
                        render: function(data) {
                            if (data.Is_Paid == "0")
                                return '<span class="label label-table label-danger">Unpaid</span>';
                            if (data.Is_Paid == "1")
                                return '<span class="label label-table label-success">Paid</span>';
                        }
                    }];
                }
                if(role == "Admin")
                {
                    jsoondata = [{
                            data: "Lobby_Commision_Id"
                        },
                        {
                            data: "Lobby_Name"
                        },
                        {
                            data: "Lobby_Round"
                        },
                        {
                            data: "Admin_Name"
                        },
                        {
                            data: "Admin_Commision_Amount"
                        },
                        {
                            data: "Bookie_Commision_Amount"
                        },
                        {
                            data: "Total_Bet"
                        },
                        {
                            data: "Commission_Time_Date"
                        },                                  
                        {
                        data: null,
                        render: function(data) {
                            if (data.Is_Paid == "0")
                                return '<span class="label label-table label-danger">Unpaid</span>';
                            if (data.Is_Paid == "1")
                                return '<span class="label label-table label-success">Paid</span>';
                        }
                    }];
                }
        
            $('#commissiontable').DataTable({
                    dom: "lfrtip",
                    paging: true,
                    data: result.data,
                    columns: jsoondata,
                select: true,
            });
        },
        error: function(xhr) {
            console.log(JSON.parse(xhr.statusText))
                        
            let err = JSON.parse(xhr.statusText).error;

            if (xhr.status == 401) {
                window.location.href = "{% url 'logout' %}";
            }
            if(Array.isArray(err) ){
                alert(JSON.parse(xhr.statusText)['error'].join("\n"))

            }else{
                alert(err)

            }
        }
    });
    $.fn.dataTable.ext.errMode = 'throw';

    $("#filter").on('click', function() {
        var username = $('#usenrname').val();
        var jsonObjects = {
            "admin_id": id,
              "admin_role": role,
            "admin_name": username
        }
        var dataaa = JSON.stringify(jsonObjects);

        $.ajax({
        url: webapi + "commision",
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        dataType: "json",
        crossDomain: true,
            headers: {
                "Authorization": "Bearer " + token
            }, 
        data: dataaa,
            success: function(result) {
                
                if ($.fn.dataTable.isDataTable('#commissiontable')) {
                    table = $('#commissiontable').DataTable();
                    table.destroy();
                }
                 
                if(role != "Admin")
                { console.log("hello",role);
                    $("#NameAdmin").hide();
                    $("#NameAdmin1").hide();
                    jsoondata = [{
                            data: "Lobby_Commision_Id"
                        },
                        {
                            data: "Lobby_Name"
                        },
                        {
                            data: "Lobby_Round"
                        },
                        {
                            data: "Bookie_Commision_Amount"
                        },
                        {
                            data: "Total_Bet"
                        },
                        {
                            data: "Commission_Time_Date"
                        },                                  
                        {
                        data: null,
                        render: function(data) {
                            if (data.Is_Paid == "0")
                                return '<span class="label label-table label-danger">Unpaid</span>';
                            if (data.Is_Paid == "1")
                                return '<span class="label label-table label-success">Paid</span>';
                        }
                    }];
                }
                if(role == "Admin")
                {
                    jsoondata = [{
                            data: "Lobby_Commision_Id"
                        },
                        {
                            data: "Lobby_Name"
                        },
                        {
                            data: "Lobby_Round"
                        },
                        {
                            data: "Admin_Name"
                        },
                        {
                            data: "Admin_Commision_Amount"
                        },
                        {
                            data: "Bookie_Commision_Amount"
                        },
                        {
                            data: "Total_Bet"
                        },
                        {
                            data: "Commission_Time_Date"
                        },                                  
                        {
                        data: null,
                        render: function(data) {
                            if (data.Is_Paid == "0")
                                return '<span class="label label-table label-danger">Unpaid</span>';
                            if (data.Is_Paid == "1")
                                return '<span class="label label-table label-success">Paid</span>';
                        }
                    }];
                }
            
                $('#commissiontable').DataTable({
                    dom: "lfrtip",
                    paging: true,
                    data: result.data,
                    columns: jsoondata,
                select: true,
            });
            },
            error: function(xhr) {
                console.log(JSON.parse(xhr.statusText))
                let err = JSON.parse(xhr.statusText).error;

                if (xhr.status == 401) {
                    window.location.href = "{% url 'logout' %}";
                }
                if(Array.isArray(err) ){
                    alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                }else{
                    alert(err)

                }
            }
        });
    });
</script> {% endcomment %}

<script>
    function ExportToExcel(type, fn, dl) {
        let data = JSON.parse(JSON.stringify({{ pressed|safe}}));
    console.log(typeof (data), data);
    let tabv = document.getElementById('totals')  
  
    console.log("tabv", tabv);
    let ws = XLSX.utils.json_to_sheet(data);
    
    let wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Commisssion");
    
    shitty = XLSX.utils.table_to_sheet(tabv);
    XLSX.utils.book_append_sheet(wb, shitty, "Totals")
    XLSX.writeFile(wb, 'commision_report.xlsx')
    }
</script>
{% endblock script %}
