{% extends 'admin_panel/base.html' %}
{% load static %}



{% block title %}
  Leisure
{% endblock title %}
  

{% block beforescript %}
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Leisure</h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='{% url "home" %}'>Home</a></li>
        <li class="breadcrumb-item active">Leisure</li>
      </ol>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <label class="control-label"> User Id </label>
                  <input type="number" id="useridd" class="form-control">
              </div>
          </div>
          <div class="col-md-3">
              <form class="form-group" method="POST">
                  {% csrf_token %}
                  <label class="d-none control-label">&nbsp;&nbsp;&nbsp;&nbsp; </label>
                  <button type="button" id="filter" name="userLeisure" class="btn d-lg-block mt-lg-4 m-lg-15 m-xs-0" style="background-color:#FE9900"> Search </button>
              </form>
          </div>
      </div>

        <!-- <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 text-right">
            <a href="#" class="btn btn-danger text-right">Banned Users >></a>
          </div>
        </div> -->
        <div class="table-responsive m-t-40">
          <table id="leisuretable" class="table table-responsive-md table-hover text-center">
            <thead>
              <tr>
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Id
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Name
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Status </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Price </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Powerups Used </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Amount Spend </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> User Name </th>

                  <th>Detail</th>

              </tr>
            </thead>
            <tbody>

              {% for leisures in allleisures %}
              <tr>
                <td>{{leisures.Lobby_Id}}</td>
                <td>{{leisures.Lobby_Name}}</td>
                <td>{{leisures.Winning_Status}}</td>
                <td>{{leisures.Winning_Price}}</td>
                <td>{{leisures.Powerups_used}}</td>
                <td>{{leisures.Total_Amount_Spend}}</td>
                <td>{{leisures.User_Name}}</td>
                 <td><a href="{% url 'leisureplayer' leisures.Lobby_Id %}" class="btn btn-outline-dark"><i class="fa fa-external-link-alt"></i></a></td>

              </tr>
              {% endfor %}


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock beforescript %}



{% block script %}
<script>
  $(document).ready(function () {
    $('#leisuretable').DataTable();
  });

 // $("#filter").on('click', function() {
   /// console.log("Clicked")
    // let csrf_ =  '{{csrf_token}}'
    // var userid = $('#useridd').val();
    // console.log(userid);
     //var jsonObjects = {
    //     "user_id": userid,
     //    'csrfmiddlewaretoken': csrf_
    // }
       /*"admin_id": id,
         "admin_role": role*/
    // var dataa = JSON.stringify(jsonObjects);
     //console.log(dataa)

     //$.ajax({
      //   url: '{% url "leisure" %}',
        // type: "POST",
       //  contentType: 'application/json; charset=utf-8',
      //   headers: {
        //     'X-CSRFToken': csrf_
        // }, 
//         data: JSON.stringify({'user_id': userid}),
  //       dataType: 'json',
    //     success: function(result) {
      //      
        //     if ($.fn.dataTable.isDataTable('#leisuretable')) {
          ///       console.log("DESTROYING...")
             //    table = $('#leisuretable').DataTable();
               ///  table.destroy();
             //}
             //$('#change').text('User Id')
             /*$('paymentable > thead tr').insertAfter*/
//             console.log("GENERATING NEW")
  //           $('#leisuretable').dataTable({
    //             dom: "lfrtip",
      //           paging: true,
        //         data: result.data,
          //       columns: [
            //         {
              //          
                //         data: "Lobby_Id",
                  //      
                    // },
                     /*{
                         data: "Lobby_Name"
                     },
                     
                     {
                        data: "Winning_Status"
                    },
                    {
                        data: "Winning_Price"
                    },
                    {
                        data: "Powerups_used"
                    },
                    {
                        data: "Total_Amount_Spend"
                    },
                    {
                        data: "User_Name"
                    }
                 ],
                 select: true,
             });
             log("Completed")
         },
         error: function(xhr) {
          let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) && err.length >= 2){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err[0])

                        }
         }
     });
 });*/
</script>
{% endblock script %}