{% extends 'admin_panel/base.html' %}
{% load static %}


{% block title %}
    Lobby Structure
{% endblock title %}
    
{% block styles %}
    <style>
        .c{
            background-color: rgb(94, 94, 94);
        }
    </style>
{% endblock styles %}
    
{% block beforescript %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Lobby Structure</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                
                <li class="breadcrumb-item"><a href="{% url 'lbstructure' request.session.username.Admin_Id %}">Lobby Structure</a></li>
                {% if adlbs %}
                <li class="breadcrumb-item active">Inactive Structure</li>
                {% else %}
                <li class="breadcrumb-item"><a href="{% url 'bndlbstructure' request.session.username.Admin_Id %}">Banned Structure</a></li>
                <li class="breadcrumb-item active">All Inactive Structures</li>
                
                {% endif %}
                    
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                {% if not all %}
                
                <!-- <div class="row text-right mt-4"> -->
                    <!-- <div class="col-md-12"> -->
                        <form class="float-right mx-2" action="" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="all">All Inactive Structure<span><i
                                class="fa fa-arrow-circle-right ml-2"></i></span></button>
                            </form>
                            <!-- </div> -->
                            <!-- </div> -->
                            {% endif %}
                
                
                <a href="{% url 'lbstructure' request.session.username.Admin_Id %}" class="btn btn-dark float-right c"><< Active Structures</a>
                            
            
                            

                <div id="id01" class="modal1">
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Add Lobby Structure </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="ls_name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Entry Fee </label>
                                            <input type="number" id="ls_entry_fees" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Cut </label>
                                            <input type="number" id="ls_per_cut" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Players </label>
                                            <input type="number" id="ls_players" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Admin Id </label>
                                            <input type="number" id="admin_id" class="form-control"
                                                value="{{request.session.username.Admin_Id}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()"
                                        class="btn btn-secondary">Cancel</button>
                                    <button id="Submit" type="button" class="btn btn-success"
                                        style="background-color: #4CAF50;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-t-40">
                    <table id="lbstructtable" class="table table-hover table-responsive-md text-center">
                        <!-- table table-responsive-md table-sm table-bordered text-center justify-middle -->
                        <thead>
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> ID </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Structure Name</th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Entry Fees </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Lobby per Cut </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> No. of Players </th>
                                <!-- <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Admin Name </th> -->

                                <!-- <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Active? </th> -->
                                
                                    
                                    {% if adlbs %}
                                    <th>Update</th>
                                    <th>Activate/Deactivate</th>
                                    <th>Delete</th>
                                    {% endif %}
                                        
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% if adlbs %}
                            {% for struct in adlbs %}
                            <tr>
                                <td>{{ struct.Lobby_Structure_Id }}</td>
                                <td>{{ struct.Lobby_Structure_Name }}</td>
                                <td>{{ struct.Lobby_Entry_fees }}</td>
                                <td>{{ struct.Lobby_Per_cut }}</td>
                                <td>{{ struct.No_of_Players }}</td>
                                <!-- <td>{{ struct.Admin_name }}</td> -->
                                <!-- <td>
                                    
                                    class = "{% if struct.IsActive %}
                                        True
                                    {% else %}
                                        False
                                    {% endif %}"
                                        
                                </td> -->
                                <td class="text-center align-middle"><button class="btn btn-outline-info"
                                        onclick="upModal('{{ struct.Lobby_Structure_Id }}','{{ struct.Lobby_Structure_Name }}','{{ struct.Lobby_Entry_fees }}','{{ struct.Lobby_Per_cut }}','{{struct.No_of_Players}}','{{ struct.IsActive }}')"><i
                                            class="fa fa-pen"></i></button></td>

                                <td class="text-center align-middle"><button class="btn btn-outline-warning"
                                        onclick="actdeactModal('{{ struct.Lobby_Structure_Id }}', '{{ struct.Lobby_Structure_Name }}', 'activate')"><i
                                            class="fa fa-toggle-off"></i></button></td>

                                <td class="text-center align-middle"><button class="btn btn-outline-danger"
                                        onclick="showModal('{{ struct.Lobby_Structure_Id }}', '{{ struct.Lobby_Structure_Name }}' )"><i
                                            class="fa fa-trash"></i></button></td>
    

                            </tr>
                            {% endfor %}
                               {% else %}
                               {% for struct in all_adlbs %}
                               <tr>
                                   <td>{{ struct.Lobby_Structure_Id }}</td>
                                   <td>{{ struct.Lobby_Structure_Name }}</td>
                                   <td>{{ struct.Lobby_Entry_fees }}</td>
                                   <td>{{ struct.Lobby_Per_cut }}</td>
                                   <td>{{ struct.No_of_Players }}</td>
                                   <!-- <td>{{ struct.Admin_name }}</td> -->
                                   
                                   </tr>
                                   {% endfor %}
                            {% endif %}
                                

                        </tbody>
                    </table>
                </div>
                <div id="id02" class="modal1">
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Update Lobby Structure </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="ls_name1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Entry Fee </label>
                                            <input type="number" id="ls_entry_fees1" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Cut </label>
                                            <input type="number" id="ls_per_cut1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Players </label>
                                            <input type="number" id="ls_players1" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Admin Id </label>
                                            <input type="number" id="admin_id1" class="form-control" value="{{request.session.username.Admin_Id}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()"
                                        class="btn btn-secondary">Cancel</button>
                                    <button id="Submit1" type="button" class="btn btn-success"
                                        style="background-color: #4CAF50;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id03" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Delete">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>Delete Lobby Structure</b></h3>
                        <div class="container">
                            <p id="dltspan">Are you sure you want to delete this Lobby Structure </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn" type="button" class="btn btn-success" style="background-color: #4CAF50;">Yes</button>
                        </div>
                    </form>
                </div>
                <div id="id04" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-active">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>Activate Lobby Structure</b></h3>
                        <div class="container">
                            <p id="dltspan1">Are you sure you want to Activate this admin/subadmin:=> </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn1" type="button" class="btn btn-success">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock beforescript %}



{% block script %}
<script>
    var modal1 = document.getElementById('id01');
    var modal2 = document.getElementById('id02');
    var modal3 = document.getElementById('id03');
    var modal4 = document.getElementById('id04');

    $(document).ready(function () {
        $('#lbstructtable').DataTable();
    });
    window.onclick = function (event) {

        if (event.target == modal1) {
            modal1.style.display = "none";
        }
         if (event.target == modal2) {
             modal2.style.display = "none";
         }
         if (event.target == modal3) {
             modal3.style.display = "none";
             location.reload()
         }
         if (event.target == modal4) {
             modal4.style.display = "none";
             location.reload()
         }

    }

    function signin() {

        document.getElementById('id01').style.display = 'block';
        $("#Submit").click(function () {
          var ls_name = $('#ls_name').val();
            var ls_entry_fees = $('#ls_entry_fees').val();
            var ls_per_cut = $('#ls_per_cut').val();
            var ls_players = $('#ls_players').val();
            var admin_id = $('#admin_id').val();

            const token = '{{request.session.username.Token}}'


            var dataobjects = {
                "ls_name": ls_name, "ls_entry_fees": ls_entry_fees, "ls_per_cut": ls_per_cut, "ls_players": ls_players, "admin_id": admin_id
            }
            var dataa = JSON.stringify(dataobjects);

            if (ls_name != "" && ls_entry_fees != "" && ls_per_cut != "" && ls_players != "" && admin_id != "") {
                $.ajax({
                    url: "{% url 'lbstructure' request.session.username.Admin_Id %}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',
                        "content-type": "application/json"
                    },
                    success: function (result) {
                        alert("Lobby Structure Created Successfully");
                        document.getElementById('id01').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'login' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                        location.reload();

                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }
    function upModal() {
        
            var ls_id = arguments[0];
            var ls_name = arguments[1];
            var ls_entry_fees = arguments[2];
            var ls_per_cut = arguments[3];
            var ls_players = arguments[4];
           
        document.getElementById('id02').style.display = 'block';

        document.getElementById("ls_name1").value = ls_name;
        document.getElementById("ls_entry_fees1").value = ls_entry_fees;
        document.getElementById("ls_per_cut1").value = ls_per_cut;
        document.getElementById("ls_players1").value = ls_players;
        //document.getElementById("is_active1").value = is_active;
        

        $("#Submit1").click(function () {
            ls_name = $('#ls_name1').val();
            ls_entry_fees = $('#ls_entry_fees1').val();
            ls_player_cut = $('#ls_per_cut1').val();
            ls_players = $('#ls_players1').val();
            

        

            var dataobjects = {
                "ls_id":ls_id, "ls_name":ls_name, "ls_entry_fees":ls_entry_fees, "ls_per_cut":ls_player_cut, "ls_players":ls_players
            }
            console.log(dataobjects)
            var dataa = JSON.stringify(dataobjects);
            console.log(dataa)
            console.log("before ajax")
            if (ls_name != "" && ls_entry_fees != "" && ls_player_cut != "" && ls_players != "") {
                $.ajax({
                    url: '{% url "updatelbstruct" %}',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',

                    },
                    success: function (result) {
                        alert("Achievement Updated Successfully");
                        document.getElementById('id02').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                        location.reload();

                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }

    function showModal() {
        var id = arguments[0];
        var name = arguments[1];
        // var role = arguments[2];
        console.log(id, name)
        document.getElementById('id03').style.display = 'block';
        $('p').append(' :<b> <span id="add_here">' + name + '</span> with Id (' + id + ') ?</b>');
        $("#DeleteBtn").click(function () {
            console.log(id)
            var jsonObjects = {
                "ls_id": id
            }
            var dataa = JSON.stringify(jsonObjects);

            $.ajax({
                url: '{% url "deletelbstruct" %}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    /*"Authorization": "Bearer " + token*/
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: 'json',
                data: dataa,
                success: function (data, textStatus, xhr) {
                    alert("Achievement Deleted Successfully");
                    document.getElementById('id03').style.display = 'none';
                    location.reload();
                },
                error: function (xhr) {
                    console.log(JSON.parse(xhr.statusText))
                    let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

                }
            });
        });
    }
    function actdeactModal() {
        var id = arguments[0];
        var name = arguments[1];
        var acd = arguments[2]
        $('#dltspan1').append(' : <span id="add_here">' + name + '</span>( '+ id + ')?');
        document.getElementById('id04').style.display = 'block';
        /* =========== Update Activate Data ============ */
    
        var is_active = null;
        if (acd == 'deactivate') is_active = 0
        else is_active = 1; 
        var jsonObjects = {
          "ls_id": id,
          "isactive": is_active
        }
        var dataa = JSON.stringify(jsonObjects);
        console.log(dataa)
        $("#DeleteBtn1").click(function () {
          $.ajax({
            url:"{% url 'upactlbstruct' %}" ,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers: {
              // "Authorization": "Bearer " + token
              'X-CSRFToken': '{{csrf_token}}'
            },
            dataType: 'json',
            data: dataa,
            success: function (data, textStatus, xhr) {
              alert("Player modified Successfully");
              document.getElementById('id04').style.display = 'none';
              location.reload();
            },
            error: function (xhr) {
                console.log(JSON.parse(xhr.statusText))
                let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

            }
          });
        });
      }
    /* function showModal() {
        var id = arguments[0];
        var name = arguments[1];
       // var role = arguments[2];
       document.getElementById('id03').style.display = 'block';
        $('p').append(' :<b> <span id="add_here">' + name + '</span> with Id ('+id+') ?</b>');
        $("#DeleteBtn").click(function () {
            console.log(id)
            var jsonObjects = {
                "achievements_id": id
            }
            var dataa = JSON.stringify(jsonObjects);
    
            $.ajax({
                url: '{% url "deleteach" %}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    /*"Authorization": "Bearer " + token*/
              /*      "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: 'json',
                data: dataa,
                success: function (data, textStatus, xhr) {
                    alert("Achievement Deleted Successfully");
                    document.getElementById('id03').style.display = 'none';
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    //var error = $.parseJSON(xhr.responseText);
                    if (xhr.status == 500) return alert('Internal Error')
                    if (xhr.status == 401) {
                        window.location.href = "{% url 'login' %}";
                    }
                    alert(error.message);
                }
            });
        });
    } */
    function hideModal() {
        document.getElementById('id01').style.display = 'none';
        document.getElementById('id02').style.display = 'none';
        document.getElementById('id03').style.display = 'none';
        document.getElementById('id04').style.display = 'none';
        location.reload();
    }
</script>
{% endblock script %}