{% extends 'admin_panel/base.html' %}
{% load static %}



{% block styles %}
<style>
  .htry {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: black !important;
    font-weight: bold !important;
  }
</style>
{% endblock styles %}

{% block title %}
Players

{% if banned %}
:Banned players
{% endif %}

{% if singles %}
:Player Details
{% endif %}


{% endblock title %}


{% block beforescript %}


<div class="row page-titles">
  <div class="col-md-5 align-self-center">

    {% if singles %}
    <h4 class="text-themecolor">Players Details</h4>

    {% else %}

    <h4 class="text-themecolor">Players</h4>
    {% endif %}

  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>


        {% if not banned %}

        {% if not singles %}

        <li class="breadcrumb-item active">Players</li>
        {% endif %}
        {% endif %}

        {% if singles %}
        <li class="breadcrumb-item active"><a href="{% url 'players' %}">Players</a></li>
        <li class="breadcrumb-item active">Players Details</li>

        {% endif %}

        {% if banned %}
        <li class="breadcrumb-item active"><a href="{% url 'players' %}">Players</a></li>
        <li class="breadcrumb-item active">Banned Players</li>


        {% endif %}

      </ol>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="card">
      <div class="card-body">
        {% if not banned %}
        <a href="{% url 'banned_players' %}" class="btn btn-danger float-right mx-2">Banned Users >>></a>

        {% endif %}
        <a href="{% url 'star_player' %}" class="btn btn-dark float-right"><span><i
              class="fa fa-award mx-1"></i></span>Privillaged User</a>
              <button onclick="ExportToExcel('xlsx')" class="btn btn-secondary"><span><i
                class="fa fa-file-csv mx-2"></i></span>Export to Sheet</button>
        
        <div class="w-lg-100 w-xs-100 overflow-auto m-t-40">




          <table id="playertable" class="table table-responsive-md table-hover text-center" style="width: 100%;">
            <thead>
              <tr>
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> User Id
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none">User Name
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Display Name </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Country </th>


                {% if not banned%}



                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Amount </th>

                {% if not singles %}
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Bonus Cash </th>

                {% endif %}

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Credit Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Debit Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Win Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Loss Amount </th>

                {% endif %}
                {% if singles %}
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Wins </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Loss </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Token Captured </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Opp. Token Captured </th>

                {% else %}
                
                {% if not singles %} {% if not banned %}<th>Grant Privillage</th> {% endif %} {% endif %}
                  
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending">
                  {% if banned %}
                  Activate
                  {% else %}
                  Deactivate
                  {% endif %}
                </th>
                <th>Details</th>

                {% endif %}

              </tr>
            </thead>
            <tbody>

              {% if singles %}
              {% for single in singles %}

              <tr>
                <td> {{ single.User_Id }}</td>
                <td><a class="htry" href="{% url 'userlobbyhistory' single.User_Id %}"> {{ single.Username }}</a></td>
                <td> {{ single.User_DisplayName }}</td>
                <td> {{ single.User_Country }}</td>
                <td> {{ single.User_Amount }}</td>
                <td> {{ single.User_Credit_Amount }}</td>
                <td> {{ single.User_Debit_Amount }}</td>
                <td> {{ single.User_Win_Amount }}</td>
                <td> {{ single.User_Loss_Amount }}</td>
                <td> {{ single.Total_Wins }}</td>
                <td> {{ single.Total_Loss }}</td>
                <td> {{ single.Token_Captured }}</td>
                <td> {{ single.Opp_Token_Captured }}</td>
                {% endfor %}
              </tr>
              {% elif banned %}

              {% for attr in banned %}
              <tr>
                <td> {{ attr.User_Id }}</td>
                <td><a class="htry" href="{% url 'userlobbyhistory' attr.User_Id %}"> {{ attr.Username }}</a></td>
                <td> {{ attr.User_DisplayName }}</td>
                <td> {{ attr.User_Country }}</td>

                <td class="text-center align-middle"><button class="btn btn-outline-primary"
                    onclick="showModal('{{attr.User_Id}}' , '{{attr.Username}}', 'activate')"><i
                      class="fa fa-toggle-on"></i></button>
                </td>
                <td><a href="{% url 'idplayers' attr.User_Id %}" class="btn btn-outline-dark"><i
                      class="fa fa-external-link-alt"></i></a></td>

              </tr>
              {% endfor %}

              {% else %}
              {% for attr in data %}
              <tr>
                <td> {{ attr.User_Id }}</td>
                <td><a class="htry" href="{% url 'userlobbyhistory' attr.User_Id %}"> {{ attr.Username }}</a></td>
                <td> {{ attr.User_DisplayName }}</td>
                <td> {{ attr.User_Country }}</td>
                <td> {{ attr.User_Amount }}</td>
                <td> {{ attr.User_Bonus_Cash }}</td>
                <td> {{ attr.User_Credit_Amount }}</td>
                <td> {{ attr.User_Debit_Amount }}</td>
                <td> {{ attr.User_Win_Amount }}</td>
                <td> {{ attr.User_Loss_Amount }}</td>
                <td><button class="btn btn-outline-primary"
                    onclick="grantModal('{{attr.User_Id}}' , '{{attr.Username}}', 'grant')"><i
                      class="fa fa-award"></i></button>
                </td>
                <td class="text-center align-middle"><button class="btn btn-outline-danger"
                    onclick="showModal('{{attr.User_Id}}' , '{{attr.Username}}', 'deactivate')"><i
                      class="fa fa-ban"></i></button>
                </td>
                <td><a href="{% url 'idplayers' attr.User_Id %}" class="btn btn-outline-dark"><i
                      class="fa fa-external-link-alt"></i></a></td>
              </tr>


              {% endfor %}
              {% endif %}


            </tbody>
          </table>
        </div>

        <!-- ========================================================================== -->
        <!-- ================== Popup Window Delete ==================-->
        <!-- ========================================================================== -->
        <div id="id03" class="modal1">
          <form class="modal1-content animate" method="post" id="Form-Delete">
            {% csrf_token %}
            <span id="CloseBtn" class="close1" onclick="hideModal()" title="Close Modal">&times;</span>
            <h3 class="abc"><b>{% if banned %}Activate {% else %}Deactivate{% endif %} Player</b></h3>
            <div class="container">
              <p>Are you sure you want to {% if banned %}Activate{% else %}Deactivate{% endif %} this player:</p>
            </div>
            <div>
              <button type="button" id="CloseBtn" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
              <button id="DeleteBtn" type="button" class="btn btn-secondary"
                style="background-color: #4CAF50;">Yes</button>
            </div>
          </form>
        </div>
        <div id="id04" class="modal1">
          <form class="modal1-content animate" method="post" id="Form-Delete">
            {% csrf_token %}
            <span id="CloseBtn" class="close1" onclick="hideModal()" title="Close Modal">&times;</span>
            <h3 class="abc"><b>Grant Privillage</b></h3>
            <div class="container">
              <p>Are you sure you want to grant privillages this player:</p>
            </div>
            <div>
              <button type="button" id="CloseBtn" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
              <button id="GrantBtn" type="button" class="btn btn-secondary"
                style="background-color: #4CAF50;">Yes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock beforescript %}


{% block script %}

<script>
  $(document).ready(function () {
    $('#playertable').DataTable();
  });

  function grantModal() {
    var d = arguments[0];
    var k = arguments[1];
    var acd = arguments[2];
    $('p').append(' : <span id="add_here">' + k + '</span> ?');
    document.getElementById('id04').style.display = 'block';
    /* =========== Delete Data ============ */

    var previledge = true;
    $("#GrantBtn").click(function () {
      dataa = JSON.stringify({"user_id":d, "previledge":previledge}) 
      console.log(dataa)
      $.ajax({
        url: "{% url 'star_player' %}",
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        headers: {
          // "Authorization": "Bearer " + token
          'X-CSRFToken': '{{csrf_token}}'
        },
        dataType: 'json',
        data: dataa,
        success: function (data, textStatus, xhr) {
          alert("Player modified Successfully");
          document.getElementById('id04').style.display = 'none';
          location.reload();
        },
        error: function (xhr, textStatus, errorThrown) {
          //var error = $.parseJSON(xhr.responseText);
          let err = JSON.parse(xhr.statusText).error;

          if (xhr.status == 401) {
            window.location.href = "{% url 'logout' %}";
          }
          if (Array.isArray(err) ) {

            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

          } else {
            alert(err)

          }
          // alert(error.message);
        }
      });
    });
  }

  /* =========== Show Modal ============ */

  function showModal() {
    var d = arguments[0];
    var k = arguments[1];
    var acd = arguments[2];
    $('p').append(' : <span id="add_here">' + k + '</span> ?');
    document.getElementById('id03').style.display = 'block';
    /* =========== Delete Data ============ */

    var is_active = null;
    url = null;
    if (acd == 'deactivate') { is_active = false; url = '{% url "banplayer" %}' }
    else { is_active = true; url = '{% url "activateplayer" %}' }
    var jsonObjects = {
      "user_id": d,
      "active": is_active
    }
    var dataa = JSON.stringify(jsonObjects);
    console.log(dataa)
    $("#DeleteBtn").click(function () {
      $.ajax({
        url: url,
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        headers: {
          // "Authorization": "Bearer " + token
          'X-CSRFToken': '{{csrf_token}}'
        },
        dataType: 'json',
        data: dataa,
        success: function (data, textStatus, xhr) {
          alert("Player modified Successfully");
          document.getElementById('id03').style.display = 'none';
          location.reload();
        },
        error: function (xhr, textStatus, errorThrown) {
          //var error = $.parseJSON(xhr.responseText);
          console.log(JSON.parse(xhr.statusText))
          let err = JSON.parse(xhr.statusText).error;

          if (xhr.status == 401) {
            window.location.href = "{% url 'logout' %}";
          }
          if (Array.isArray(err) ) {

            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

          } else {
            alert(err)


          }
          // alert(error.message);
        }
      });
    });
  }

  function hideModal() {
    document.getElementById('id03').style.display = 'none';
    document.getElementById('id04').style.display = 'none';
    location.reload();
  }
</script>
<script>
  "{% if messages %}"
      
          alert("{{messages}}")
      
  "{% endif %}"

  function ExportToExcel(type, fn, dl){
  
    let data = {{data|safe}};
  
    console.log(typeof(data), data); 
    let ws = XLSX.utils.json_to_sheet(data);
    let wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Players");
    XLSX.writeFile(wb, 'Player_report.xlsx')
   /* const sheet = XLSX.utils.table_to_book(htable, {sheet:"players"})
    console.log("SHEET", sheet)
    return dl ?
    XLSX.write(sheet, {bookType:type, bookSST: true, type: 'base64'}):
    XLSX.writeFile(sheet, fn || ('Players.' + (type || 'xlsx'))); */
   
  }

</script>
{% endblock script %}