{% extends 'admin_panel/base.html' %}
{% load static %}



{% block styles %}
<style>
  .htry {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: black !important;
    font-weight: bold !important;
  }
</style>
{% endblock styles %}

{% block title %}
  Players
  
  {% if banned %}
    :Banned players
  {% endif %}
  
  {% if singles %}
    :Player Details
  {% endif %}
    
    
{% endblock title %}
  

{% block beforescript %}


<div class="row page-titles">
  <div class="col-md-5 align-self-center">

    {% if singles %}
    <h4 class="text-themecolor">Players Details</h4>

    {% else %}

    <h4 class="text-themecolor">Players</h4>
    {% endif %}

  </div>
  <div class="col-md-7 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

        <li class="breadcrumb-item active"><a href="{% url 'players' %}">Players</a></li>
        <li class="breadcrumb-item active">Privillaged Players</li>
        
      </ol>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-lg-12 col-xs-12">
    <div class="card">
      <div class="card-body">
        {% if not banned %}
            <a href="{% url 'banned_players' %}" class="btn btn-danger float-right mx-2">Banned Users >>></a>
            
            {% endif %}
          
        <div class="w-lg-100 w-xs-100 overflow-auto m-t-40">
          
              
              
            
          <table id="playertable" class="table table-responsive-md table-hover text-center"
            style="width: 100%;">
            <thead>
              <tr>
                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> User Id
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none">User Name
                </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Display Name </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Country </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Privilege </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Credit Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Debit Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Win Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Loss Amount </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Wins </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Loss </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Token Captured </th>

                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                  aria-label="Name: activate to sort column ascending" aria-sort="descending"> Opp. Token Captured </th>

               <th>No Privilege</th>

              </tr>
            </thead>
            <tbody>

              {% for single in stars %}

              <tr>
                <td> {{ single.User_Id }}</td>
                <td><a class="htry" href="{% url 'userlobbyhistory' single.User_Id %}"> {{ single.Username }}</a></td>
                <td> {{ single.User_DisplayName }}</td>
                <td> {{ single.User_Country }}</td>
                <td> {{ single.User_Amount }}</td>
                <td> {{ single.Priviledge }}</td>
                <td> {{ single.User_Credit_Amount }}</td>
                <td> {{ single.User_Debit_Amount }}</td>
                <td> {{ single.User_Win_Amount }}</td>
                <td> {{ single.User_Loss_Amount }}</td>
                <td> {{ single.Total_Wins }}</td>
                <td> {{ single.Total_Loss }}</td>
                <td> {{ single.Token_Captured }}</td>
                <td> {{ single.Opp_Token_Captured }}</td>
                <td><button class="btn btn-outline-primary"
                  onclick="grantModal('{{single.User_Id}}' , '{{single.Username}}', 'grant')"><i
                    class="fa fa-thumbs-down"></i></button></td>
              </tr>
               {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- ========================================================================== -->
        <!-- ================== Popup Window Delete ==================-->
        <!-- ========================================================================== -->
        <div id="id04" class="modal1">
          <form class="modal1-content animate" method="post" id="Form-Delete">
            {% csrf_token %}
            <span id="CloseBtn" class="close1" onclick="hideModal()" title="Close Modal">&times;</span>
            <h3 class="abc"><b>Grant Privillage</b></h3>
            <div class="container">
              <p>Are you sure you want to grant privillages this player:</p>
            </div>
            <div>
              <button type="button" id="CloseBtn" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
              <button id="GrantBtn" type="button" class="btn btn-secondary"
                style="background-color: #4CAF50;">Yes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock beforescript %}


{% block script %}

<script>
  $(document).ready(function () {
    $('#playertable').DataTable();
  });

  
  '{% if messages %}'
      
      "{% for message in messages %}"
          alert("{{message}}")
      "{% endfor %}"
  '{% endif %}'
      
  $('#playertable').on('click', 'tr', function () {
    PlayerId = table.row(this).data();
  });
  /* =========== Modal ============ */

  var modal = document.getElementById('id04');
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }



  /* =========== Show Modal ============ */

  function grantModal() {
    var d = arguments[0];
    var k = arguments[1];
    var acd = arguments[2];
    $('p').append(' : <span id="add_here">' + k + '</span> ?');
    document.getElementById('id04').style.display = 'block';
    /* =========== Delete Data ============ */

    var previledge = false;
    $("#GrantBtn").click(function () {
      dataa = JSON.stringify({"user_id":d, "previledge":previledge}) 
      console.log(dataa)
      $.ajax({
        url: "{% url 'star_player' %}",
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        headers: {
          // "Authorization": "Bearer " + token
          'X-CSRFToken': '{{csrf_token}}'
        },
        dataType: 'json',
        data: dataa,
        success: function (data, textStatus, xhr) {
          alert("Player modified Successfully");
          document.getElementById('id04').style.display = 'none';
          location.reload();
        },
        error: function (xhr, textStatus, errorThrown) {
          console.log(JSON.parse(xhr.statusText))
          let err = JSON.parse(xhr.statusText).error;

          if (xhr.status == 401) {
            window.location.href = "{% url 'logout' %}";
          }
          if (Array.isArray(err) ) {

            alert(err.join("\n"))

          } else {
            alert(err)


          }
          // alert(error.message);
        }
      });
    });
  }


  function hideModal() {
    document.getElementById('id04').style.display = 'none';
    location.reload();
  }
</script>
{% endblock script %}