{% extends 'admin_panel/base.html' %}
{% load static %}


{% block title %}
    Withdrawlas
{% endblock title %}
    
{% block styles %}
<style>
    .golden {
        color: rgb(255, 97, 5);
        font-weight: 500;
    }
</style>
{% endblock styles %}

{% block beforescript %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Withdrawals</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Withdrawals</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label"> User Id </label>
                            <input type="number" id="useridd" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <form class="form-group" method="POST">
                            {% csrf_token %}
                            <label class="d-none control-label">&nbsp;&nbsp;&nbsp;&nbsp; </label>
                            <button type="button" id="filter" class="btn d-lg-block mt-lg-4 m-lg-15 m-xs-0" style="background-color:#FE9900"> Search </button>
                        </form>
                    </div>
                </div>

                <!-- <button id="payment" type="button" class="btn float-right btn-info" onclick="signin();">
                    <i class="fa fa-plus-circle"></i>&nbsp; Create Payment
                </button> -->

                <!-- ========================================================================== -->
                <!-- ================== Popup Window Create ==================-->
                <!-- ========================================================================== -->
                <!-- <div id="id01" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal" style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Create Payment </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> User ID </label>
                                            <input type="text" id="userid" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Debit/Credit </label>
                                            <select id="debitcredit" class="form-control" required>
                                                <option value=false>Debit</option>
                                                <option value=true>Credit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Payment Amount </label>
                                            <input type="number" id="amt" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="cancelbtn">Cancel</button>
                                    <button id="Submit" type="button" class="smtbtn" style="background-color: #4CAF50;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
                <button onclick="ExportToExcel('xlsx')" class="btn btn-secondary"><span><i
                    class="fa fa-file-csv mx-2"></i></span>Export to Sheet</button>
                <!-- ========================================================================== -->
                <!-- ================== Table ==================-->
                <!-- ========================================================================== -->
                <div class="table-responsive m-t-40 overflow-auto">
                    <table id="paymenttable" class="table table-responsive-md table-hover text-center" style="width: 100%;">
                        <thead>
                            <tr>
                                
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> User Id </th>
                                {% if a %}
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> User Name </th>      
                                {% endif %}
                                    

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Is Credit? </th>
                            
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Payment Amount </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Date/Time</th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Transaction Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Payment Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for payment in payments %}
                            <tr>
                                <td>{{payment.User_Id}}</td>
                               
                                <td><span class="
                                    {% if payment.Is_Credit %}
                                    label label-table label-success
                                    {% else %}
                                    label label-table label-danger
                                    {% endif %}
                                        ">{% if payment.Is_Credit %} Credit {% else %} Debit {% endif %} </span></td>
                                <td>{{payment.Payment_Amount}}</td>
                                <td>{{payment.Payment_Time_Date}}</td>
                                <td>{{payment.Transaction_Id}}</td>
                                <td><span class="
                                    {% if payment.Payment_status == 'Success' %}
                                    label label-table label-success
                                    {% elif payment.Payment_status == 'Pending' %}
                                    label label-table label-primary
                                    {% else %}
                                    label label-table label-danger
                                    {% endif %}
                                        ">{{payment.Payment_status}}</span></td>
                                <!-- <td>{{payment.}}</td>
                                <td>{{payment.}}</td> -->
                            </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                    <div class="text-left" style="width: 100%;">
                        <div class="mt-5 mx-4 text-center" style="width: 15%;">
                            <h2 class="golden">Totals</h2>
                        </div>
                        <table id="totals" class="table float-left text-left mx-4" style="width: 15%;">

                            {% for element in totals %}

                                {% for key, value in element.items %}
                                    <tr>
                                        <th><b>{{key}}</b></th>
                                        <td>{{value}}</td>

                                    </tr>
                                {% endfor %}

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock beforescript %}
    
 
 {% block script %}
 <script>
    $(document).ready(function () {
      $('#paymenttable').DataTable();
    });
  </script>
 <script>
     

     /* =========== Modal ============ */
     var modal1 = document.getElementById('id01');
     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function(event) {
         if (event.target == modal1) {
             modal1.style.display = "none";
         }
     }

     function signin() {
         document.getElementById('id01').style.display = 'block';
         $("#Submit").click(function() {
             var userid = $('#userid').val();
             var debitcredit = $('#debitcredit').val();
             var amt = $('#amt').val();

             var dataobjects = {
                 "user_id": userid,
                 "iscredit": debitcredit,
                 "payment_amount": amt,
                 "transaction_id" : '4856321',
                   "admin_id": id,
                   "admin_role": role
             }
             var dataa = JSON.stringify(dataobjects);
             
             $.ajax({
                 url: webapi + "payments",
                 type: "POST",
                 contentType: 'application/json; charset=utf-8',
                 dataType: 'json',
                 data: dataa,
                 headers: {
                     "Authorization": "Bearer " + token
                 }, 
                 success: function(result) {

                     alert("Paymet Created Successfully");
                     document.getElementById('id01').style.display = 'none';
                     location.reload();
                 },
                 error: function(xhr) {
                    console.log(JSON.parse(xhr.statusText))
                    let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                 }
             });
         });
     }

     function hideModal() {
         document.getElementById('id01').style.display = 'none';
         location.reload();
     }

     /* =========== Filter ============ */

     $("#filter").on('click', function() {
        console.log("Clicked")
         let csrf_ =  '{{csrf_token}}'
         var userid = $('#useridd').val();
         console.log(userid);
         var jsonObjects = {
             "user_id": userid,
             'csrfmiddlewaretoken': csrf_
         }
           /*"admin_id": id,
             "admin_role": role*/
         var dataa = JSON.stringify(jsonObjects);
         console.log(dataa)

         $.ajax({
             url: '{% url "withdrawals" %}',
             type: "POST",
             contentType: 'application/json; charset=utf-8',
             headers: {
                 "Authorization": "Bearer " + '{{request.session.username.Token}}',
                 'X-CSRFToken': csrf_
             }, 
             data: JSON.stringify({'user_id': userid}),
             dataType: 'json',
             success: function(result) {
                
                 if ($.fn.dataTable.isDataTable('#paymenttable')) {
                     console.log("DESTROYING...")
                     table = $('#paymenttable').DataTable();
                     table.destroy();
                 }
                 $('#change').text('User Id')
                 /*$('paymentable > thead tr').insertAfter*/
                 $('#paymenttable').dataTable({
                     dom: "lfrtip",
                     paging: true,
                     data: result.data,
                     columns: [
                         {
                            
                             data: "User_Id",
                            
                         },
                        /* {
                             data: "Username"
                         },*/
                         {
                             data: null,
                             render: function(data) {
                                 if (data.Is_Credit === 0)
                                     return '<span class="label label-table label-danger">Debit</span>';
                                 if (data.Is_Credit === 1)
                                     return '<span class="label label-table label-success">Credit</span>';

                             }
                         },
                         {
                            data: "Payment_Amount"
                        },
                        {
                            data: "Payment_Time_Date"
                        },
                        {
                            data: "Transaction_Id"
                        },
                        {
                            data: null,
                            render: function(data){
                                if (data.Payment_status == 'Success') return '<span class="label label-table label-success">Success</span>'
                                else if (data.Payment_status == 'Pending') return '<span class="label label-table label-primary">Pending</span>'
                                else return '<span class="label label-table label-danger"></span>'
                            }
                            
                        }
                     ],
                     select: true,
                 });
             },
             error: function(xhr) {
                console.log(JSON.parse(xhr.statusText))
                        
                let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

             }
         });
     });
 </script>
 <script>
    function ExportToExcel(type, fn, dl) {
        let data = JSON.parse(JSON.stringify({{ payments|safe}}));

    let ws = XLSX.utils.json_to_sheet(data);
    let tts = XLSX.utils.table_to_sheet(document.getElementById('totals'));
    let wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, "Withdrawals");

    XLSX.utils.book_append_sheet(wb, tts, "Totals");
    XLSX.writeFile(wb, 'withdrawal Report.xlsx')
}
</script>
     
 {% endblock script %}
                  
